<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>758039097015-fth9bv8lcjee2bfn5bepi4je5qts7777.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.758039097015-fth9bv8lcjee2bfn5bepi4je5qts7777</string>
	<key>API_KEY</key>
	<string>AIzaSyB22hS0RRts8dB70HntmKRDa54VUvEapbc</string>
	<key>GCM_SENDER_ID</key>
	<string>758039097015</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.medSwift</string>
	<key>PROJECT_ID</key>
	<string>medswift-857ec</string>
	<key>STORAGE_BUCKET</key>
	<string>medswift-857ec.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:758039097015:ios:c0c521a42cc4ee51752732</string>
</dict>
</plist>